<div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div toolbar></div>
          </div>
        </div>
    </div>
<form name="userForm" id="userForm" ng-submit="handleSubmit()" novalidate> 
    <formly-form model="model" fields="fields" options="options" form="userForm">
        <button class="btn btn-primary btn-sm  pull-left bottomsmall" type="submit" ng-disabled="userForm.$invalid" style="margin-right: 10px;" has-visible='!user'>Salvar</button>
    </formly-form>
</form>