<div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div toolbar></div>
          </div>
          <div class="panel-body" ng-show="goSearch">
            <form name="searchForm" novalidate ng-submit="applyGlobalSearch()" style="margin-top: 10px;">
                <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{optionsselectitem.value}}<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="item in filteroptions"><a ng-click="optionsselect(item);">{{item.value}}</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                  <span class="input-group-addon"><input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                  </span>
                  <input type="text" class="form-control" placeholder="Procurar por" name="searchTerm" ng-model="globalSearchTerm" required />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-show="globalSearchTerm" ng-click="closesearch()">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-default" type="submit" ng-disabled="searchForm.$invalid">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
            </form>
          </div>
        </div>
        <div class="panel-body" ng-show="goGraph">
            <div class="row">
                <div class="widget-pie-chart panel panel-condensed  no-margin no-border widget-loader-circle">
                    <div class="panel-body">
                        <div id="nvd3-pie" class="text-center m-b-30">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="goGraphpj">
            <div class="row">
                <div class="widget-pie-chart panel panel-condensed  no-margin no-border widget-loader-circle col-md-6">
                    <div class="panel-body">
                        <div class="text-center m-b-30">
                            <div id="chart2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <table ng-table="tableParams" class="table table-hover table-condensed table-detailed no-footer" role="grid" export-csv="csv" separator=";">
        <tr ng-repeat-start="user in $data" class="odd" ng-class="user.expanded ? 'odd shown' : 'odd'" role="row" ng-click="user.expanded = !user.expanded">
          <td data-title="'E-mail'" sortable="'email'">{{user.email}}</td>
          <td data-title="'Nome'" sortable="'name'">{{user.name}}</td>
          <td>
            <div style="float:right;">
                <div class="btn-group" has-permission='{"subject_class":"User","action":"create"}'>
                  <a class="btn btn-warning" ng-class="{active:user.atendimento.ischat}" ng-click="atendimento(user.id, 'C', user.atendimento.ischat);user.expanded = !user.expanded"><span class="glyphicon glyphicon-remove-circle" ng-class="{'glyphicon-ok-circle':user.atendimento.ischat}"></span><span class="bold">Chat</span></a>
                  <a class="btn btn-warning" ng-class="{active:user.atendimento.ispf}" ng-click="atendimento(user.id, 'F', user.atendimento.ispf);user.expanded = !user.expanded"><span class="glyphicon glyphicon-remove-circle" ng-class="{'glyphicon-ok-circle':user.atendimento.ispf}"></span><span class="bold">Física</span></a>
                  <a class="btn btn-warning" ng-class="{active:user.atendimento.ispj}" ng-click="atendimento(user.id, 'J', user.atendimento.ispj);user.expanded = !user.expanded"><span class="glyphicon glyphicon-remove-circle" ng-class="{'glyphicon-ok-circle':user.atendimento.ispj}"></span><span class="bold">Juridica</span></a>
                </div>
                <a ui-sref="user.edit({id: user.id})" class="btn btn-complete btn-sm" has-permission='{"subject_class":"User","action":"create"}'><span class="glyphicon glyphicon-pencil"></span><span class="bold">Editar</span></a>
                <a ng-click="delete(user.id);user.expanded = !user.expanded" class="btn btn-danger btn-sm" ng-show="user.active === 'S' && user.id !== userid ? true : false" has-permission='{"subject_class":"User","action":"delete"}'><span class="glyphicon glyphicon-trash"></span><span class="bold">Remover</span></a>
                <a ng-click="actived(user.id);user.expanded = !user.expanded" class="btn btn-success btn-sm" ng-show="user.active == 'N' ? true : false" has-permission='{"subject_class":"Super Admin","action":"all"}'><span class="glyphicon glyphicon-ok"></span><span class="bold">Ativar</span></a>
            </div>
          </td>
        </tr>
        <tr ng-if="user.expanded" ng-repeat-end="" class="row-details">
          <td colspan="3">
              <div class="panel panel-transparent " ng-init="tab1 = true">
                  <ul class="nav nav-tabs nav-tabs-fillup hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
                      <li ng-class="tab1 ? 'active' : ''">
                          <a data-toggle="tab" ng-click="tab1=true;tab2=false;tab3=false;"><span>Dados do Usuário</span></a>
                      </li>
                      <li ng-class="tab2 ? 'active' : ''">
                          <a data-toggle="tab" ng-click="tab1=false;tab2=true;tab3=false;onloadgraphuser(user.id)"><span>Gráfico Peformace</span></a>
                      </li>
                      <li ng-class="tab3 ? 'active' : ''">
                          <a data-toggle="tab" ng-click="tab1=false;tab2=false;tab3=true"><span>Hist. Ativações</span></a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div ng-class="tab1 ? 'tab-pane slide-left active' : 'tab-pane slide-left'" ng-show="tab1">
                          <div class="row column-seperation">
                              <table class="table table-inline">
                                  <tbody>
                                  <tr>
                                      <td>Criado em
                                      </td>
                                      <td>{{user.created_at}}</td>
                                  </tr>
                                  <tr>
                                      <td>Perfil</td>
                                      <td>{{user.roles.name}}</td>
                                  </tr>
                                  <tr ng-show="issuper">
                                      <td>Ativo</td>
                                      <td>{{user.active == 'S' ? 'Sim' : 'Não'}}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div ng-class="tab2 ? 'tab-pane slide-left active' : 'tab-pane slide-left'"  ng-show="tab2">
                          <div class="row">
                            <div class="graphuser_{{user.id}}"></div>
                          </div>
                      </div>
                      <div ng-class="tab3 ? 'tab-pane slide-left active' : 'tab-pane slide-left'"  ng-show="tab3">
                          <div class="row">

                          </div>
                      </div>
                  </div>
              </div>
          </td>
        </tr>
    </table>
</div>
