<div class="container container-sm animated fadeInDown" ng-controller="PagesController as form">
   <div class="center-block mt-xl">
      <!-- START panel-->
      <img src="app/img/logo-gray.png" alt="Image" class="center-block img-rounded" />
      <div class="panel">
         <div class="panel-body">
            <p class="pv text-bold"><span translate="pages.login.ACCESS">LOGIN CREDENTIALS</span></p>
            <form role="form" class="mb-lg">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group has-feedback mb">
                        <input id="exampleInputEmail1" type="email" translate="pages.login.EMAIL" placeholder="{{ 'pages.login.EMAIL' | translate }}" ng-model="form.email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                     <br/>
                     <div class="form-group has-feedback">
                        <input id="exampleInputPassword1" type="password" translate="pages.login.EMAIL" placeholder="{{ 'pages.login.PASSWORD' | translate }}" ng-model="form.password" class="form-control" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                     </div>
                     <!--<div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" value="" />
                           <span class="fa fa-check"></span><span translate="pages.login.REMEMBER">REMEMBER me</span></label>
                     </div>-->
                  </div>
                  <div class="col-md-6">
                     <button type="submit" class="btn btn-block btn-info mb" ng-click="form.login()"><span translate="pages.login.LOGIN">Login</span></button>
                     <p class="text-muted mb0"><span translate="pages.login.DONTHAVE">Don't have an account yet?</span></p>
                     <a ui-sref="page.register" class="btn btn-block btn-default">
                        <strong><span translate="pages.login.REGISTER">Register one</span></strong>
                     </a>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="text-center mt"><a ui-sref="page.recover" class="text-muted" translate="pages.login.FORGOTPASSWORD">Forgot your password?</a>
      </div>
      <!-- END panel-->
      <div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>
   </div>
</div>