<ul class="menu-items" style="margin-top: 10px;" >
  <li class="menuitem" has-permission='{"subject_class":"Lead","action":"read"}'>
    <a href="#/lead"><span class="title">Indicações</span></a>
    <span class="icon-thumbnail "><i class="fa fa-line-chart"></i></span>
  </li>
  <li class="menuitem" has-permission="{'subject_class':'Group','action':'read'}">
    <a href="#/group"><span class="title">Grupo</span></a>
    <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
  </li>
  <li class="menuitem" has-permission="{'subject_class':'User','action':'read'}">
    <a href="#/user"><span class="title">Usuário</span></a>
    <span class="icon-thumbnail "><i class="fa fa-user"></i></span>
  </li>
</ul>