<!doctype html>
<html>
<head>
<title>Título da página</title>
<meta charset="utf-8" />
<style>
p {
    color: black;
	font-family: arial;
	font-size: 14px;
}
h1 {
 color: #005C31;
	font-family: arial;
	font-size: 20px;
	line-height: 30px;
}
</style>
</head>

<body>
<div align="center">
<img src="http://thapymar.com.br/logo-thapymar-red.png" width="120"/>

<h1> UM CORRETOR DO SEU GRUPO ACABA DE RECEBER UMA NOVA INDICAÇÃO </h1>

<p>
O CORRETOR <%= @name %> DEVERÁ ACESSAR O SISTEMA PARA VISUALIZAR A MESMA. <br />
OBS.: ELE TEM 15 MINUTOS PARA VISUALIZAR A INDICAÇÃO, DO CONTRÁRIO ELA SERÁ ENCAMINHADA PARA OUTRO CORRETOR.

</p>
</div>
<small><%= @id %></small>
</body>
</html>



