<!doctype html>
<html>
<head>
<title>Título da página</title>
<meta charset="utf-8" />
<style>
p {
    color: black;
	font-family: arial;
	font-size: 14px;
}
h1 {
 color: #005C31;
	font-family: arial;
	font-size: 20px;
	line-height: 30px;
}
</style>
</head>

<body>
<div align="center">
<img src="http://unicooprj.com.br/unicoop-logo.jpg" width="120"/>
<p>
<%=h @comment %>
</p>
</div>
<small><%= @id %></small>
</body>
</html>