<!doctype html>
<html>
<head>
<title>Título da página</title>
<meta charset="utf-8" />
<style>
p {
    color: black;
	font-family: arial;
	font-size: 14px;
}
h1 {
 color: #005C31;
	font-family: arial;
	font-size: 20px;
	line-height: 30px;
}
</style>
</head>

<body>
<div align="center">
<img src="http://unicooprj.com.br/unicoop-logo.jpg" width="120"/>

<h1> UM CORRETOR DO SEU GRUPO ACABA DE PERDER UMA INDICAÇÃO </h1>

<p>
O CORRETOR <%= @name %> RECEBEU UMA INDICAÇÃO DO CLIENTE <%= @contato %>, <br /> 
PORÉM ESTA ACABA DE SER TRANSFERIADA PARA OUTRO CORRETOR UMA VEZ QUE ELE NÃO A LEU DENTRO DO PRAZO DE 30 MINUTOS. <br /> 
OBS.: RECOMENDE AO MESMO QUE FIQUE ATENTO PARA NÃO PERDER NOVAS OPORTUNIDADES.

</p>
</div>

</body>
</html>



