<!doctype html>
<html>
<head>
<title>Título da página</title>
<meta charset="utf-8" />
<style>
p {
    color: black;
	font-family: arial;
	font-size: 14px;
}
h1 {
 color: #005C31;
	font-family: arial;
	font-size: 20px;
	line-height: 30px;
}
</style>
</head>

<body>
<div align="center">
<img src="http://thapymar.com.br/logo-thapymar-red.png" width="120"/>

<h1> VOCÊ ACABA DE PERDER UMA INDICAÇÃO </h1>

<p>
UMA INDICAÇÃO FOI PERDIDA TENDO EM VISTA QUE ESTA NÃO FOI LIDA EM NOSSO SISTEMA NO PRAZO DE 15 MINUTOS. <br />
OBS.: RECOMENDAMOS QUE FIQUE ATENTO PARA NÃO PERDER NOVAS OPORTUNIDADES.

</p>
</div>
<small><%= @id %></small>
</body>
</html>



